body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-dark-portal {
    background-image: url(extension-bg.jpg);
    background-position: top;
    background-position-y: -160px;
    background-repeat: no-repeat;
    background-color: black;
}

.rip-filter {
    -webkit-filter: grayscale(95%);
   filter: grayscale(95%);
}

.wrap-all {
    word-break: break-all;
}

.hidden {
    display: none !important;
}

.margin-top {
    margin-top: 10px;
}

.main-content-area {
    display: block;
    padding: 0 50px 0 50px;
    text-align: center;
}

.equipment-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.equipment-table-col {
    top: 10px;
    width: 28px;
    position: absolute;

    .equipment-icon {
        margin-top: 3px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.equipment-table-left {
    left: 15px;
}

.equipment-table-right {
    right: 20px;
}

.equipment-table-bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    .equipment-icon {
        display: inline-block;
    }
}

.equipment-icon {
    height: 28px;
    width: 28px;
    position: relative;
    border: rgba(111,111,111,0.2) 2px solid; 
}

.equipment-icon ins {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    background-size: auto 100%;   
}

.equipment-icon a {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 20;
    pointer-events: auto;
    cursor: pointer;
    top: 0;
}

.padded-bottom {
    padding-bottom: 10px;
}

p:first-of-type {
    margin-top: 0;
}

.obscure-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 50;
}

.full-screen-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.back-button {
    display: block;

    span::before {
        content: "\21A9";
        padding-right: 2px;
    }
}

.talents-panel {
    display: block;
    margin-top: 10px;
}

.item-rarity-0 {
    border-color: #9d9d9d;
}

.item-rarity-1 {
    border-color: #ffffff;
}

.item-rarity-2 {
    border-color: #1eff00;
}

.item-rarity-3 {
    border-color: #0070dd;
}

.item-rarity-4 {
    border-color: #a335ee;
}

.item-rarity-5 {
    border-color: #ff8000;
}

.item-rarity-6 {
    border-color: #e6cc80;
}

.unit-frame-wrapper {
    display: flex;
}

.unit-frame-class-icon, .unit-frame-bars {
    display: flex;
    flex-direction: column;
}

.unit-frame-bars {
    color: white;
    text-shadow: 1.5px 1px black;
    margin-left: -4px;
    flex-grow: 1;
    min-width: 0;
    background-color: black;
    border: 2px black solid;
    border-radius: 5px;
}

.unit-frame-class-icon {
    width: 55px;
    border: 2px black solid;
    border-radius: 5px;
    background: black;

    ins {
        width: 100%;
        height: 100%;
        background-position: center;
    }
}

.unit-frame-floating {
    font-size: 10pt;
}

.unit-frame-main-bar {
    height: 28px;
    border: 2px black solid;
    border-radius: 5px;

    span {
        line-height: 28px;
    }
}

.unit-frame-secondary-bar {
    height: 20px;
    border: 2px black solid;
    border-radius: 5px;

    span {
        line-height: 20px;
    }
}

.power-type-energy {
    background-color: #FFFF00;
}

.power-type-rage {
    background-color: #FF0000;
}

.power-type-hp {
    background-color: #009B00;
}

.power-type-mana {
    background-color: #0000FF;
}

.power-type-focus {
    background-color: #FF8040;
}

.action-button {
    background-color: #650302;
    color: white;
    border: #585657 3px;
    border-style: groove;

    &:hover {
        background-color: #B50D00;
    }

    &:active {
        background-color: #770202;
    }
}

.talent-controls {
    margin: 10px 0 0 10px;
}

.unit-frame-extra-row {
    display: block;

    span.boxed {
        font-weight: bold;
        padding: 0 5px 0 5px;
        border: black solid 3px;
        border-radius: 0 0 5px 5px;
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
    }
}

.numeric-font {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

.impactful-font {
    color: #EEC300;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0.15em 0 black, 0 0.15em black, -0.15em 0 black, 0 -0.15em black, -0.15em -0.15em black, -0.15em 0.15em black, 0.15em -0.15em black, 0.15em 0.15em black;
}

.money {
    padding-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    &.copper {
        background-image: url(https://wow.zamimg.com/images/icons/money-copper.gif);
    }
    &.silver {
        background-image: url(https://wow.zamimg.com/images/icons/money-silver.gif);
    }
    &.gold {
        background-image: url(https://wow.zamimg.com/images/icons/money-gold.gif);
    }
}

.title-panel {
    text-align: center;
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }
}




